<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Produk</title>
</head>
<body>
    <h1><%= product.name %></h1>

    <ul>
        <li>Brand : <%= product.brand %></li>
        <li>Harga <%= product.price %></li>
        <li>Warna <%= product.color %></li>
        <li>Kategori <%= product.category %></li>
    </ul>
    
</body>
</html>